:root {
  /**
   * colors
   */

  --main--color: #2c73eb; /* Corrected to --main--color */
  --sc--color: #ffffff; /* Corrected to --sc--color */

  /* Text Colors */
  --pri--txt--color: #494949; /* Corrected to --pri--txt--color */
  --sec--txt--color: #696f79; /* Corrected to --sec--txt--color */
  --tri--txt--color: #8692a6; /* Corrected to --tri--txt--color */
  --heading--txt--color: #000000;

  /* Button Colors */
  --btn--color: #1565d8; /* Corrected to --btn--color */
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

/***************************Login Page ***********************/

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  gap: 20px;
}

/* Banner styling */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main--color); /* Use your main color */
  color: var(--sc--color);
}

.logo {
  position: absolute;
  padding: 20px;
}
/* Form styling */

.content {
  display: flexbox;
  justify-content: center;
  margin-top: 5rem;
}

form {
  display: flex;
  flex-direction: column;

  justify-content: center;
  width: 50%;
  height: 585px;
  background-color: #fff; /* Form background */
}
/* Form title and inputs */
.form_title {
  font-size: 30px;
  margin-bottom: 10px;
  color: var(--heading--txt--color);
}

.form_title_subinfo {
  margin-bottom: 20px;
  color: var(--sec--txt--color);
  line-height: 1.6;
}

.input_block {
  margin-bottom: 25px;
}

.input_label,
p {
  color: var(--sec--txt--color);
}

.input_field {
  width: 100%;
  padding: 1.2rem;
  border: 0.2rem solid var(--main--color);
  border-radius: 0.5rem;
  margin-top: 1.3rem;
}

/* Checkbox section */
.tick {
  margin-right: 10px;
}

.checkbox_text {
  color: var(--pri--txt--color);
}

/* Button styling */
button {
  background-color: var(--btn--color);
  color: #fff;
  padding: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 30px;
}

button:hover {
  background-color: #0046a6;
}

a {
  text-decoration: none;
  color: #1565d8;
}

/* Responsive styling */
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr; /* Stack on top of each other on small screens */
    height: auto; /* Allow height to adjust */
  }

  .banner {
    height: auto; /* Allow banner height to adjust */
  }

  form {
    height: auto; /* Allow form height to adjust */
  }
}
/********************************************************/

/************************Verification Page *************************/

.verifiedPage {
  margin-top: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: var(--main--color);
}

/*******************************************************************/
