:root {
  --main--color: #2c73eb;
  --sc--color: #ffffff;
  --pri--txt--color: #494949;
  --sec--txt--color: #696f79;
  --tri--txt--color: #8692a6;
  --heading--txt--color: #000000;
  --btn--color: #1565d8;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

/* Container */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  gap: 20px;
}

/* Banner */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main--color);
  color: var(--sc--color);
  padding: 4rem;
}

/* Logo */
.logo {
  position: absolute;
  padding: 20px;
}

/* Form */
.content {
  display: flex;
  justify-content: center;
  margin-top: 7rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 80%;
  height: 500px;
  background-color: #fff;
}

.form_title {
  font-size: 30px;
  margin-bottom: 10px;
  color: var(--heading--txt--color);
}

.form_title_subinfo {
  margin-bottom: 20px;
  color: var(--sec--txt--color);
  line-height: 1.5;
}

.input_block {
  margin-bottom: 1rem;
}

.input_label,
p {
  color: var(--sec--txt--color);
}

.input_field {
  width: 100%;
  padding: 1.2rem;
  border: 0.2rem solid var(--main--color);
  border-radius: 0.5rem;
  margin-top: 0.8rem;
}

/* Checkbox */
.tick {
  margin-right: 10px;
}

.checkbox_text {
  color: var(--pri--txt--color);
}

/* Button */
button {
  background-color: var(--btn--color);
  color: #fff;
  padding: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 30px;
}

button:hover {
  background-color: #0046a6;
}

a {
  text-decoration: none;
  color: #1565d8;
}

/* Circular Component */
.circular-component {
  width: 40px;
  height: 40px;
  background-color: var(--tri--txt--color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(107, 107, 107, 0.5);
  margin: 1rem auto;
  padding: 1rem;
}

/* Signup Option Logos */
.Other_signup_way ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 1rem auto 0 auto;
}

.singup_option_logos {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.verifiedPage {
  display: flex;
  justify-content: center;
  align-items: center; /* Center items vertically */
  height: 100vh; /* Full height of the viewport */
  background: var(--main--color);
  margin: 0; /* Remove any margin */
  z-index: 1;
}
